<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
   <h1>{{title}}</h1>
<div class="container" > 
     <input type='button' id="back" value='Go Back'>

</div>

<script  src='users.js'></script>

</body>
</html>